# Port d'écoute du serveur
PORT=3001

# URL de connexion à PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/plantwatering?schema=public"

# URL du frontend autorisé en production (Whitelist CORS & WebSocket)
FRONTEND_URL="https://plant-watering-alpha.vercel.app"
